{#
/**
 * @file
 * Default theme implementation to display a bootstrap carousel.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * - slides: Slides for the carousel.
 * - arrows: Boolean indicating arrow display.
 * - interval: The amount of time to delay between automatically cycling an item. If false, carousel will not automatically cycle..
 * - is_front: A flag indicating if the current page is the front page.
 *
 * @ingroup templates
 *
 * @see template_preprocess_bootstrap_carousel()
 * @see html.html.twig
 */
#}
<div id="carousel-{{ id }}" class="carousel slide carousel-fade" data-ride="carousel" data-interval="{{ interval }}">
  {% if slides|length > 1 and indicators %}
    <ol class="carousel-indicators">
      {% for slide in slides %}
        <li data-target="#carousel-{{ id }}" data-slide-to="{{ loop.index0 }}"{{ loop.first ? ' class="active"' }}></li>
      {% endfor %}
    </ol>
  {% endif %}

  <div class="carousel-inner" role="listbox">
    {% for slide in slides %}
      <div class="carousel-item{{ loop.first ? ' active' }}">
        {{ slide.image }}
        {% if slide.description %}
          <div class="carousel-caption">{{ slide.description }}</div>
        {% endif %}
      </div>
    {% endfor %}
  </div>

  {% if slides|length > 1 and arrows %}
    <a class="left carousel-control" href="#carousel-{{ id }}" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">{{ 'Previous'|t }}</span>
    </a>
    <a class="right carousel-control" href="#carousel-{{ id }}" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">{{ 'Next'|t }}</span>
    </a>
  {% endif %}
</div>