{#
/**
 * @file
 * Default theme implementation to display a carousel.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * - slides: Slides for the carousel.
 * - is_front: A flag indicating if the current page is the front page.
 *
 * @ingroup templates
 *
 * @see template_preprocess_carousel()
 * @see html.html.twig
 */
#}
<div class="carousel">
  <div class="slides">
    {% for slide in slides %}
      <div class="slide">
        {% if slide.image %}
          <div class="image">{{ slide.image }}</div>
        {% endif %}
        {% if slide.description %}
          <div class="description">{{ slide.description }}</div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>